body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2fbe47;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    /* height:50px; */
    background-color: #34495e;
    overflow: hidden;
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.content-section {
    margin-bottom: 40px;
}

.content-section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
}