body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2fbe47;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    
    background-color: #34495e;
    overflow: hidden;
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-item {
    margin: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

.gallery-item p {
    padding: 10px;
    text-align: center;
    background-color: #2c3e50;
    color: white;
    margin: 0;
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
}