* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blue;
}

.container {
    background-color: rgb(229, 244, 244);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 55vh;
    width: 50vh
}

form {
    margin: 2rem 0 1rem 0;

}

form select,
button,
input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}

.dropdown {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1.3rem;
}
.select-container img {
    max-width: 2rem;
}
.select-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid lightgray;
    width:6rem;
}
.msg{
    margin: 2rem 0 2rem 0;
}
form button{
    height:3rem;
    background-color: rgb(241, 177, 177);
    font-size: 1.2rem;
    cursor:pointer;
}